<!-- CÓDIGO PARA CONEXIÓN DE DB CON AWS -->

<!-- container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from accounts.models import Account; Account.objects.create_superuser('Enrique', 'Pedriel', 'ajose12345z@gmail.com', 'ajose12345z', '00jose00Cxz#')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ecommerce.settings -->
